/* External Css the is used to apply the css to that element externaly by  linking the css file in 
that html file */

/*Universal selector  */

/* * {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
} */

/* Element Selector  */
body {
    /* Here vh represent the viewport height . so,height of the body adjusted to viewport height
    Which means browser display size*/
    background-color: #D68FD6;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    
}

li {
    color: #010F20;
    font-size: 200%;
}

/*class Selector*/
.para {
    color: aqua
}

/* selecting more than one class 
Here 2rem indicate the font size of the rot element*2.
so, here root element is html tag :16 then 16*2=32 */
.para2,
.para3 {
    /* Here ch indicate width should be under 40 character width alone */
    color: crimson;
    font-size: 2rem;
    width: 40ch;
}

/* Selecting the bl class which is inside para2 class */
.para2 .bl {
    color: chartreuse;
}


/* Id Selector  */
#para1 {
    color: rgb(251, 255, 8);
}

/* Here header will take width 50% of parent (body tag) */
/* header {
    width: 100%;
} */
/* Here h1 child will take width 50% of parent (header tag)
   pixel we can use for the boder for absolute value But for font we should not use. it 
   will differ based on the screen size */

h1{
    /* for padding we can use em */
    border: 2px solid transparent;
    width: 50%;
    font-size: 2rem;
    
    
}

/* Here 1em indicate the font size of the parent element*1.
so, here parent element is bodyu tag :16 then 16*1=32 */

main{
    font-size: 1em;
    background-color: cornflowerblue;

    
}

.box{
    margin: 2em;
    border: 2px solid blue;
    width:80%;

}