img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 9px;
    border-radius: 20px;
    border: 1px rgb(196, 192, 192) solid;


}

div {
    margin-top: 10px;
    text-align: center;
}

button {
    padding: 5px;
    border: solid grey 1px;

}

p {
    color: rgba(0, 0, 0, .87);
    text-align: right;
    font-family: arial, sans-serif;
    margin-right: 2%;
}